body {
    background-color: #F8F1E5;
}

.App {
    width: 100%;
    height: 100%;
}

header {
    padding-top: 3%;
    text-align: center;
    color: #9D9DA3;
}

header h1 {
    font-weight: 900;
    font-size: 7rem;
    color: #606069;
}

header p {
    color: #9D9DA3;
    font-size: 2rem;
}

header::after { /*header bottom hr*/
    content: '';
    display: block;
    border-radius: 50%;
    width: 85%;
    margin: 4% auto;
    border-bottom: 4px solid #F1D1CD;
}

/* || control */
.controls {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 20px;
}

.controls li {
    width: 50px;
    height: 50px;
}

.controls li a > img,
.controls li input[type=image] {
    width: 100%;
    height: auto;
}

.controls li a,
.controls li > input[type=image] {
    color: transparent;
}


/* || contents list */
nav > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list_content {
    padding: 8px 13px;
    margin: 3px 5px;
    background: #fff;
    border: 2px solid #F1D1CD;
    border-radius: 50px;
}

.list_content a {
    color: #f3bbb4;
    width: 100%;
}